
.navbar ul{
  list-style:none;
  width: 100%;
  margin: 0 auto;
  background-color:white;
  text-align: center;
}
.navbar li{
  width: 150px;
  background-color:white ;
  padding: 10px;
  display: inline-block;
  line-height: 40px;

}
.signin ul{
  list-style: none;
  width: 100%;
  background-color: #C3E5EF;
  margin: 0 auto;
  text-align: center;

}
.signin li{
  width: 150px;
  background-color:  #C3E5EF;
  padding 20px;
  display: inline-block;
  line-height: 40px;

}

/* #si{
  border-radius: 8px;
  background-color: #00CA00;
  text-decoration: none;
  padding: 3px;
  padding-left: 2px;
  padding-right: 2px;
} */
#join{
  color: black;
  text-decoration: none;
}
.let{

  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}
.bnb{
  background-color: ##EEEEEE;
}
iframe{
  width:100%;
  height:80px;
 /* position:relative;
 z-index: 1;
 height: 100%;
 min-width: 1000px;
 max-width: 1500px;
 margin: 0 auto; */
}



/* .dl{
  width:200px;
  margin-left: 40px;
  background-color: orange;
} */
/* #title{
  text-align: left;
  padding-right: 0px;
} */

  /* text-align: left;
  padding-right: 0px; */
#Ilogo{
  width: 40px;
  height: auto;
  color:white;
}

#Title{
    text-align: left;
}
#bodyimg{
    text-align: right;
    /*music image*/
}

#button{
  width:40px;
  height: auto;
/* apple store button */
}
#faqpic{
  width:90px;
  height: auto;
}
.left{
  float: left;
}
.right{
  float: right;
}
gs{
    text-align: center;

}
h1{
  font-family: 'Inter', sans-serif;
}
h2{
  font-family: 'Inter', sans-serif;
}
h3{
  font-family: 'Inter', sans-serif;
}
#jo{
  border: 1px solid black;
  padding-left: none;
  padding-right: none;
}
.hp{
  overflow: scroll;
}

/* .flex-container {
    display: flex;
    flex-wrap: wrap;

  } */
