.navbar ul{
  list-style:none;
  width: 1000px;
  margin: 0 auto;
  background-color: #6AB2F2;
  text-align: center;
}
.navbar li{
  width: 150px;
  background-color: #6AB2F2;
  border:1px solid black ;
  padding 700px;
  display: inline-block;
  line-height: 40px;
}

.signin li{
  width: 150px;
  background-color: #6AB2F2;
  border:1px solid black ;
  padding 200px;
  display: inline-block;
  line-height: 40px;

}
.signin ul{
  list-style: none;
  width: 500px;
  margin: 0 auto;
  text-align:right;

}
#si{
  border-radius: 30%;
  background-color: #00CA00;
  text-decoration: none;
}
#join{
  color: black;
  text-decoration: none;
}
.let{
  color:white;
  text-decoration: none;
}
.bnb{
  background-color: #6AB2F2;
}
/* .flex-container {
    display: flex;
    flex-wrap: wrap;

  } */
