.container{
  display: flex;
  flex-wrap: wrap;
  width:100%;
}

header{
  background: #C3E5EF;
}
header ::after{
  content: '';
  display: table;
  clear:both;
}

nav{
  float:right;
}
nav ul{
  margin:0;
  padding: 0;
  list-style:none;
}
nav li{
  display:inline-block;
  margin:40px;
  padding:5px;
  /* padding-top:25px; */
}


.intro h2 p{
  /* margin:0;
  padding:0; */
  text-align: center;

  /* position:relative;
  top:50%; */
}
.let{
  color:black;
  text-decoration:none;
  text-transform:uppercase;
  font-size:10px;
}
/* #bod{
  overflow-y: scroll;
  scroll-behavior: smooth;
} */
#intro{
  height:30%;

}
.bod{
  width:100%;
}
#title{
  text-align:center;
   size:40px;
}

#join{
  color: black;
  text-decoration: none;
}
.let{

  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  color:black;
}
.bot{
  background-color: #DCDCDC;
}
iframe{
  width:100%;
  height:85px;
 /* position:relative;
 z-index: 1;
 height: 100%;
 min-width: 1000px;
 max-width: 1500px;
 margin: 0 auto; */
}
.im{
  width:80px;
  hight:auto;
}
#Ilogo{
  width: 60px;
  height: auto;
  color:white;
  float:left;
  padding:10px 0;
  padding-top: 30px;
  display:inline-block;
  padding-left: 20px;
}

#bodyimg{
    text-align: right;

    /*music image*/
}

#button{
  text-align: center;
  width:60px;
  height: auto;
/* apple store button */
}
/* #faqpic{
  width:90px;
  height: auto;
} */
.left{
  float: left;
}
.right{
  float: right;
}
.hp{
  margin: 0 auto;
  width:70%;
  /* margin-left: auto;
  margin-right: auto; */

}
h1 h2 h3 {
  font-family: 'Inter', sans-serif;
}

#jo{
  border: 1px solid black;
  padding-left: none;
  padding-right: none;
}

/* .flex-container {
    display: flex;
    flex-wrap: wrap;

  } */

  /* .navbar li{
    width: 150px;
    background-color:white ;
    padding: 10px;
    display: inline-block;
    line-height: 40px;

  } */
  /* .signin ul{
    list-style: none;
    width: 100%;
    background-color: #C3E5EF;
    margin: 0 auto;
    text-align: center;

  }
  .signin li{
    width: 150px;
    background-color:  #C3E5EF;
    padding 20px;
    display: inline-block;
    line-height: 40px;

  } */

  /* #si{
    border-radius: 8px;
    background-color: #00CA00;
    text-decoration: none;
    padding: 3px;
    padding-left: 2px;
    padding-right: 2px;
  } */
  /* #title{
     float:left;
     color:black;
     text-decoration:none;
     text-transform:uppercase;
     font-size:10px;
 } */
 /* .dl{
   width:200px;
   margin-left: 40px;
   background-color: orange;
 } */
 /* #title{
   text-align: left;
   padding-right: 0px;
 } */

   /* text-align: left;
   padding-right: 0px; */
