.navbar ul{
  list-style:none;
  width: 100%;
  margin: 0 auto;
  background-color: #6AB2F2;
  text-align: center;
}
.navbar li{
  width: 150px;
  background-color: #6AB2F2;
  padding: 50px;
  display: inline-block;
  line-height: 40px;

}
.signin ul{
  list-style: none;
  width: 100%;
  margin: 0 auto;
  text-align:right;

}
.signin li{
  width: 150px;
  background-color: #6AB2F2;
  border:1px solid black ;
  padding 20px;
  display: inline-block;
  line-height: 40px;

}

#si{
  border-radius: 30%;
  background-color: #00CA00;
  text-decoration: none;
  padding: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#join{
  color: black;
  text-decoration: none;
}
.let{
  color:white;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}
.bnb{
  background-color: #6AB2F2;
}
iframe{
 position:relative;
 z-index: 1;
 height: 100%;
 min-width: 1000px;
 max-width: 1500px;
 margin: 0 auto;
}
div{
  position:relative;
  z-index: 1;
  height: 100%;
  min-width: 1000px;
  max-width: 1500px;
  margin: 0 auto;
}
#Ilogo{
  width: 5px;
  height: 5px;
}
/* .flex-container {
    display: flex;
    flex-wrap: wrap;

  } */
