.navbar ul{
  list-style:none;
  width: 500px;
  margin: 0 auto;
  background-color: blue;
  text-align: center;
}
.navbar li{
  width: 150px;
  background-color: green;
  border: 1px solid black;
  padding 10px;
  display: inline-block;
  line-height: 40px;
}
#bnb{
  background-color: blue;
}
p{
  color: blue;
  font-weight: bold;
}
